body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

  background-color: #849d8f;
}

.wrapper {
  width: 1146px;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
}

.main-header {
  margin-bottom: 10px;
}

.header-logo img {
  width: 154px;
  height: 64px;
}

.site-navigation {
  width: 350px;

  line-height: 18px;
  color: #ffffff;
  font-weight: bold;

  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation {
  width: 247px;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 500;

  margin: 0;
  padding: 0;

  list-style: none;
}

.main-navigation-left {
  width: 560px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
}

.catalog-new h4 {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: #323232;
}

.catalog-new-list {
  list-style: none;
}

.catalog-new  .catalog-new-link {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: #323232;
}

.catalog-new  .catalog-new-link:hover {
  background-color: #fbded7;
}

.catalog-new .catalog-new-link:active {
  background-color: #f6b5a5;
}

.catalog-new-list a {
  text-decoration: none;
}

.search-item input {
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.schedule {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.schedule-tel {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}

.schedule-wrapper {
  text-align: right;
}

.site-navigation a {
  color: #ffffff;
}

.user-navigation a {
  color: #ffffff;
  background-color: rgba(255,255,255,0.2);
  text-decoration: none;
}

.site-navigation a:hover {
  color: #333333;
  text-decoration: none;

  background-color: #f7f6f3;
}

.site-navigation a:active {
  color: #323232;
  text-decoration: none;

  background-color: #ededed;
}

.user-navigation a:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.site-navigation .link-active {
  background-color: #d07058;
  text-decoration: none;
}

.basket .not-empty {
  color: #323232;
  background-color: #ffffff;
}

.features {
  margin-bottom: 40px;

  background-image: url(../img/features-background.png);
  background-repeat: no-repeat;

  color: #323232;
}

.features-list {
  display: flex;
  justify-content: space-around;

  padding-left: 0;
}

.features-list-left,
.features-list-right {
  list-style: none;

  font-weight: normal;
}

.features-list-left {
  width: 476px;
  padding-left: 74px;
}

.features-list-right {
  width: 470px;
}

.features h2 {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: 500;

  padding-left: 20px;
  padding-top: 30px;
  margin: 0;
}

.news-and-mailing {
  display: flex;
  justify-content: space-between;
}

.news {
  width: 560px;
  min-height: 220px;
  background-image: url(../img/news-background.png);
  background-repeat: no-repeat;
}

.news h3 {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: 500;

  padding-left: 21px;
}

.news a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: bold;

  padding-left: 21px;

  display: block;
  width: 279px;
}

.news a:hover,
.news a:active {
  color: #e84d37;
}

.mailing {
  background-image: url(../img/mailing-background.png);
  background-repeat: no-repeat;
  width: 560px;
}

.mailing-form {
  background-color: #f8f7f4;
  width: 550px;

  border-radius: 10px;
}

.mailing-info {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  font-weight: normal;
}

.mailing-form .button {
  background-color: #e74a35;
  color: #fefefe;
  font-weight: bold;

  width: 129px;
  border-radius: 20px;
}

.mailing-item input {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #999999;

  width: 368px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 10px;

  float: left;
}

.meta-list {
  list-style: none;
}

.meta-list a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.meta-list a:hover,
.meta-list a:active {
  color: #ffbc9e;
}

.meta-list .suppliers {
  font-weight: bold;
}

.copyright-link {
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

.copyright-link a {
  color: #fefefe;
}

.copyright-link a:hover,
.copyright-link a:active {
  color: #ffbc9e;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: #ffbc9e;
}

.container-catalog-page h1 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;

  padding: 0;
  margin: 0;
}

.catalog-list a {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
}

.catalog-list a:hover,
.catalog-list a:active {
  color: #ffbc9e;
}

.catalog-price-number {
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
}

.catalog-price-kg {
  font-size: 30px;
  font-weight: bold;
  line-height: 45px;
}

.catalog-list .catalog-item {
  width: 267px;

  margin-bottom: 34px;
  margin-right: 26px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-image img {
  border-radius: 50%;
}

.container-footer {
  display: flex;
  justify-content: space-between;
}

.pagination-list {
  list-style: none;
}

.pagination-list a {
  text-decoration: none;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.main-footer {
  margin-bottom: 30px;
}

.footer-social {
  list-style: none;
  width: 194px;

  margin: 0;
  padding: 0;
}

.footer-social a {
  background-color: rgba(255, 255, 255, 0.8);
  color: #323232;
  text-decoration: none;
}

.footer-social a:hover {
  background-color: #ffffff;
}

.footer-social a:active {
  background-color: #e9e9e9;
}

.meta-list {
  width: 330px;

  margin: 0;
  padding: 0;
}

.footer-copyright {
  width: 198px;

  margin: 0;
}

/* Прячем выпадающий список */
.catalog-new {
  display: none;
}

/* Прячем окно с поиском */
.search-item {
  display: none;
}

/* Прячем форму для входа */
.login-link-form {
  display: none;
}

/* Прячем семантический заголовок для корзины */
.basket h3 {
  display: none;
}

/* Прячем семантический заголовок первого уровня*/
.container h1 {
  display: none;
}

/* Прячем подпись в label */
.mailing-form .visually-hidden {
  display: none;
}

/* Прячем попап Корзины */
.basket-popup {
  display: none;
}
