body {
  margin: 0;
  padding: 0;
  background-color: #849d8f;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

img {
   max-width: 100%;
   height: auto;
 }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
  box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
  line-height: 24px;
  font-weight: normal;
  color: #999999;
}

.button {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58569 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0px 2px 2px rgba(172, 16, 0, 1);
}

.site-wrapper {
  background-color: #849d8f;
  background-image: url(../img/slider-item1.png);
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;

  padding-top: 7px;
  padding-bottom: 30px;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-item3.png");
}

.slider {
  position: relative;

  padding-top: 321px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slide-button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slide {
  display: none;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.wrapper {
  width: 1146px;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
}

.wrapper-catalog-page {
  padding-top: 7px;
  padding-bottom: 30px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
}

.main-navigation-left {
  display: flex;
  justify-content: space-between;
  width: 850px;
}

.main-navigation-left img {
  display: inline-block;

  width: 155px;
  height: 65px;

  margin-right: 20px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 675px;

  line-height: 18px;
  color: #ffffff;
  font-weight: bold;

  margin-top: 0;
  padding: 0;

  list-style: none;
}

.site-navigation > li {
  position: relative;

  padding-bottom: 10px;
}

.site-navigation a,
.user-navigation a {
  display: block;

  color: #ffffff;
  text-decoration: none;
}

.site-navigation a {
  margin-right: 30px;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-right: 13px;
  padding-left: 13px;
}

.site-navigation a::after {
  content: "";

  display: block;
  height: 1px;

  background-color: rgba(255,255,255,0.2);
}

.site-navigation a:hover {
  color: #333333;
  text-decoration: none;

  background-color: #f7f6f3;

  border-radius: 20px;
}

.site-navigation a:active {
  color: #323232;
  text-decoration: none;

  background-color: #ededed;

  border-radius: 20px;
  box-shadow: inset 0px 2px 1px 0 #696969;
}

.site-navigation .link-active {
  background-color: #d07058;
  text-decoration: none;
  border-radius: 20px;
}

.site-navigation .link-active::after {
  display: none;
}

.catalog-new {
  position: absolute;
  left: -10px;
  top: 45px;
  z-index: 10;

  width: 143px;

  background-color: #f8f7f4;
  border-radius: 5px;

  display: none;
}

.site-navigation > li:hover .catalog-new {
  display: block;
}

.catalog-new h4 {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: #323232;

  margin: 0;
  padding: 0;
  padding-top: 14px;
  padding-left: 20px;
}

.catalog-new h4::after {
  content: "";

  display: block;

  height: 1px;
  width: 128px;
  margin-top: 12px;
  margin-left: -12px;

  background-color: rgba(0, 0, 0, 0.4);
}

.catalog-new-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-new-list  a {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: #323232;

  margin: 0;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 20px;
}

.catalog-new-list .melorin {
  padding-bottom: 15px;
}

.catalog-new-list  a:hover {
  background-color: #fbded7;
  border-radius: 0;
}

.catalog-new-list a:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

/* Состояние "находимся на странице" */
.catalog-new-list .catalog-new-active {
  background-color: #d07058;
}

.catalog-new-list .melorin:hover,
.catalog-new-list .melorin:active {
  border-radius: 0 0 5px 5px;
}

.catalog-new-list a::after {
  display: none;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 293px;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 500;

  margin-top: 0;
  padding: 0;

  list-style: none;
}

.user-navigation a {
  background-color: rgba(255,255,255,0.2);

  margin-right: 10px;
  border-radius: 20px;
}

.user-navigation a:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.user-navigation a:hover path,
.user-navigation a:hover circle {
  fill: #323232;
}

.search,
.login-link,
.basket {
  position: relative;

  padding-bottom: 10px;
}

.search a {
  position: relative;

  padding: 17px 17px;

  border-radius: 50%;
}

.search-icon {
  position: absolute;
  top: 7px;
  left: 8px;
}

.search-item {
  position: absolute;
  z-index: 10;
  top: 40px;
  left: -320px;

  min-width: 341px;
  border-radius: 5px;
  background-color: #f8f7f4;

  padding-top: 17px;
  padding-left: 15px;
  padding-bottom: 17px;

  display: none;
}

.search:hover > .search-item {
  display: block;
}

.search-item input {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #323232;

  min-width: 311px;
  padding-top: 15px;
  padding-bottom: 14px;
  padding-left: 13px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.search-item input[type="text"]::placeholder {
  font-size: 14px;
}

.login-link a {
  position: relative;

  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 45px;
  padding-right: 17px;
}

.login-link-icon {
  position: absolute;

  top: 6px;
  left: 17px;
}

.login-link-form {
  position: absolute;
  z-index: 10;
  top: 35px;
  left: -200px;

  background-color: #f8f7f4;

  border-radius: 5px;

  display: none;
}

.login-link:hover > .login-link-form {
  display: block;
}

.login-link-form a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
}

.login-link-form a:hover,
.login-link-form a:active {
  color: #e84d37;
}

.login-link-form a::after {
  content: "";

  display: block;
  height: 1px;
  margin-top: -5px;

  background-color: #adacaa;
}

.login-link-form a:hover::after {
  background-color: #f9cdc4;
}

.login-link-form-password::after {
  width: 100px;
}

.login-link-form-checkin::after {
  width: 117px;
}

.button-login-link {
  display: block;
  width: 100px;

  padding: 10px 25px;
  margin-left: 19px;
}

.login-link-form input[type="email"]::placeholder,
input[type="password"]::placeholder {
  font-size: 14px;
}

.login-link-item input{
  width: 241px;

  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #323232;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 14px;
  margin-left: 19px;
  margin-top: 19px;
  margin-right: 19px;

  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 10px;
}

.login-link-password input {
  margin-bottom: 19px;
}

.login-link-form p {
  margin: 0;
  padding: 0;
}

.login-link-form-wrapper {
  display: flex;
  align-items: center;

  padding-bottom: 19px;
}

.login-link-form-hint a {
  margin: 0;
  padding: 0;
  margin-left: 19px;
}

.basket a {
  position: relative;

  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 45px;
  padding-right: 17px;
}

.basket .basket-icon {
  position: absolute;
  top: 6px;
  left: 16px;
}

.basket .not-empty {
  position: relative;

  color: #323232;

  background-color: #ffffff;
}

.basket .basket-red-icon {
  position: absolute;
  top: 6px;
  left: 16px;
}

.user-navigation .not-empty:hover .red {
  fill: #E84D37;
}

.basket .basket-popup {
  width: 540px;
  position: absolute;
  z-index: 10;
  top: 35px;
  left: -420px;

  background-color: #f8f7f4;
  padding-bottom: 20px;
  border-radius: 5px;

  display: none;
}

.basket:hover > .basket-popup {
  display: block;
}

.basket-popup .basket-list {
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  color: #323232;

  margin: 0;
  padding: 0;
  padding-top: 18px;
  padding-left: 20px;

  list-style: none;
}

.basket-popup p {
  margin: 0;
  padding: 0;
}

.basket-list p {
  margin: 0;
  padding: 0;
}

.basket-list img {
  width: 33px;
  height: 33px;

  border-radius: 50%;

  margin-left: 22px;
}

.basket-list .basket-popup-close {
  position: relative;

  margin: 0;
  padding: 0;
}

.basket-popup-close svg {
  position: absolute;
  top: 10px;

  width: 11px;
  height: 11px;
}

.basket-list .basket-product-price {
  color: #999999;
}

.basket-list .basket-item {
  display: flex;

  margin: 0;
  padding: 0;
  padding-bottom: 17px;
}

.basket-list .basket-product-name {
  width: 217px;

  padding-top: 10px;
  padding-left: 14px;
}

.basket-list .basket-product-weight {
  width: 45px;

  padding-top: 10px;
  padding-left: 27px;
}

.basket-list .basket-product-price {
  width: 50px;

  padding-top: 10px;
}

.basket-list .basket-product-sum {
  width: 51px;

  padding-top: 10px;
  padding-left: 25px;
}

.basket-popup .basket-total {
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  color: #323232;

  text-align: right;
  margin-right: 12px;
}

.basket-popup .basket-total::before {
  content: "";

  display: block;

  height: 1px;
  width: 510px;
  margin-left: 16px;
  margin-bottom: 17px;
  background-color: #cacac7;
}

.basket-popup .basket-order {

  width: 170px;
  margin: 0;
  margin-top: 16px;
  margin-left: 340px;
  padding: 0;
  padding-top: 11px;
  padding-left: 16px;
  padding-bottom: 12px;
}

.basket-popup .basket-order:hover {
  color: #ffffff;
}

.schedule {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;

  margin: 0;
  margin-bottom: 10px;
}

.schedule-tel {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;

  margin: 0;
}

.schedule-wrapper {
  text-align: right;
}

.features {
  margin-bottom: 40px;

  background-image: url(../img/features-background.png);
  background-repeat: no-repeat;

  color: #323232;
}

.features-list {
  display: flex;

  margin: 0;
  padding: 0;
}

.features-list p {
  margin: 0;
}

.features-list-left,
.features-list-right {
  list-style: none;

  font-weight: normal;

  margin: 0;
  padding: 0;
}

.features-list-left {
  width: 573px;
}

.features-list-right {
  width: 573px;
  padding-left: 80px;
}

.features h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;

  padding-left: 20px;
  padding-top: 27px;
  margin: 0;
}

.feature-item-sheet {
  padding-bottom: 27px;
}

.feature-item-cream p,
.feature-item-sheet p {
  position: relative;

  padding-left: 74px;
  margin-top: 20px;
}

.feature-item-cream p::before,
.feature-item-sheet p::before {
  content: "";

  position: absolute;
  top: -10px;
  left: 19px;

  width: 49px;
  height: 49px;

  background-image: url("../img/features-cream-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-item-sheet p::before {
  background-image: url("../img/features-sheet-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-item-cow p,
.feature-item-thermometr p {
  position: relative;

  margin-top: 20px;
}

.feature-item-cow p::before,
.feature-item-thermometr p::before {
  content: "";

  position: absolute;
  left: -55px;
  top: -10px;

  width: 49px;
  height: 49px;

  background-image: url("../img/features-cow-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-item-thermometr p::before {
  background-image: url("../img/features-thermometr-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0 ;
}

.news-and-mailing {
  display: flex;
  justify-content: space-between;
}

.news {
  width: 560px;
  min-height: 220px;
  background-image: url(../img/news-background.png);
  background-repeat: no-repeat;
}

.news h3 {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: 500;

  padding-left: 21px;
}

.news a {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #323232;
  text-decoration: none;

  border-bottom: 3px solid #323232;
}

.news-link {
  width: 284px;
  margin-left: 21px;
}

.news a:hover,
.news a:active {
  color: #e84d37;
  border-bottom-color: #f9cdc4;
}

.mailing {
  background-image: url(../img/mailing-background.png);
  background-repeat: no-repeat;
  width: 560px;
}

.mailing-form {
  background-color: #f8f7f4;
  width: 550px;

  border-radius: 10px;
  margin-left: 5px;
  margin-top: 5px;
  padding-bottom: 38px;
}

.mailing-info {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  font-weight: normal;

  margin: 0;
  margin-bottom: 33px;
  padding-top: 27px;
  padding-left: 17px;
}

.button-mailing {
  display: block;
  width: 129px;

  padding: 10px 18px;
}

.mailing-item {
  margin: 0;
  padding: 0;
}

.mailing-item input {
  box-sizing: border-box;

  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #323232;


  width: 368px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 10px;

  margin-left: 17px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
}

.mailing-form input[type="email"]::placeholder {
  font-size: 16px;
}

.mailing-grid {
  display: flex;
  align-items: center;
}

.breadcrumbs {
  display: flex;

  font-size: 14px;
  line-height: 16px;

  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  list-style: none;
}

.breadcrumbs a {
  display: inline-block;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs a::after {
  content: "";

  display: block;

  height: 1px;
  background-color: rgba(255,255,255,0.2);
}

.breadcrumbs a:hover::after,
.breadcrumbs a:active::after {
  background-color: #ffbc9e;
}

.breadcrumbs li::after {
  content: "»";

  margin-left: 6px;
  margin-right: 6px;
}

.breadcrumbs .breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: #ffbc9e;
}

.container-catalog-page h1 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;

  margin: 0;
  padding: 0;
}

.catalog .catalog-list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;

  padding: 0;
  margin: 0;
}

.catalog-list a {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;

  text-decoration: none;
}

.catalog-list .catalog-link {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.catalog-list a:hover,
.catalog-list a:active {
  border-bottom-color: #ffbc9e;
}

.catalog-list a:hover,
.catalog-list a:active {
  color: #ffbc9e;
}

.catalog-item .catalog-price {
  position: absolute;
  top: 210px;
}

.catalog-price .catalog-price-number {
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
}

.catalog-price .catalog-price-kg {
  font-size: 30px;
  font-weight: bold;
  line-height: 45px;
}

.catalog-list .catalog-item {
  position: relative;
  width: 267px;

  margin-bottom: 34px;
  margin-right: 26px;
}

.catalog-list .grid {
  margin-right: 0;
}

.catalog-image img {
  border-radius: 50%;
}

.pagination-list {
  list-style: none;
}

.pagination-list a {
  text-decoration: none;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.feedback {
  width: 478px;

  background-color: #f8f7f4;

  border-radius: 10px;
}

.feedback .feedback-info {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #323232;

  margin: 0;
  padding: 0;
  padding-top: 19px;
  padding-left: 19px;
}

.feedback input{
  width: 267px;

  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #323232;

  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 10px;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 14px;
  margin-left: 24px;
}

.feedback input[type="email"]::placeholder,
.feedback input[type="text"]::placeholder {
  font-size: 16px;
}

.feedback-area {
  width: 400px;
  min-height: 155px;
  resize: none;

  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #323232;

  padding: 15px 14px;
  margin-left: 24px;

  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 10px;
}

.feedback textarea::placeholder {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #999999;
}

.feedback-area:hover {
  box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.feedback-area:focus {
  box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.feedback .feedback-button-right {
  display: flex;
  justify-content: flex-end;
}

.button-feedback {
  display: block;
  width: 139px;

  padding: 10px 25px;
  margin-right: 24px;
  margin-top: 15px;
  margin-bottom: 19px;
}

.feedback-wrapper-top {
  display: flex;
}

.feedback .button-close {
  border: none;
  background-color: #f8f7f4;
  padding-top: 15px;
  padding-left: 70px;

  cursor: pointer;
}

.container-footer {
  display: flex;
  justify-content: space-between;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 194px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.social-button {
  width: 32px;
  height: 32px;

  margin-right: 10px;
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255, 0.5);
}

.social-button path {
  fill: rgba(255, 255, 255, 0.8);
}

.social-button:hover path {
  fill: rgb(255, 255, 255);
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.8);
}

.meta-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.meta-list  ul {
  list-style: none;

  margin: 0;
  padding: 0;
}

.meta-list .meta-list-left {
  margin-right: 25px;
}

.meta-list a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;

  margin: 0;
  padding: 0;

  text-decoration: none;
}

.meta-list a:hover,
.meta-list a:active {
  color: #ffbc9e;
}

.meta-list  .suppliers::after {
  content: "";

  display: block;

  height: 1px;
  width: 111px;
  background-color: rgba(255,255,255,0.2);
}

.meta-list  .production::after {
  content: "";

  display: block;

  height: 1px;
  width: 99px;
  background-color: rgba(255,255,255,0.2);
}

.meta-list  .documents::after {
  content: "";

  display: block;

  height: 1px;
  width: 105px;
  background-color: rgba(255,255,255,0.2);
}

.meta-list  .standards::after {
  content: "";

  display: block;

  height: 1px;
  width: 161px;
  background-color: rgba(255,255,255,0.2);
}

.meta-list a:hover::after,
.meta-list a:active::after {
  background-color: #ffbc9e;
}

.meta-list .suppliers {
  position: relative;

  font-weight: bold;
}

.meta-list .suppliers::before {
  content: "";

  position: absolute;
  top: 1px;
  left: -20px;

  width: 15px;
  height: 13px;

  background-image: url("../img/heart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-copyright {
  width: 198px;

  margin: 0;
}

.copyright-link {
  display: flex;

  font-size: 12px;
  line-height: 18px;
  color: #fefefe;

  margin: 0;
  padding: 0;
}

.copyright-link p {
  margin: 0;
  margin-right: 2px;
  padding: 0;
}

.copyryght-link-htmlacademy a {
  color: #fefefe;

  margin: 0;
  padding: 0;

  text-decoration: none;
}

.copyryght-link-htmlacademy a:hover,
.copyryght-link-htmlacademy a:active {
  color: #ffbc9e;
}

.copyryght-link-htmlacademy a::after {
  content: "";

  display: block;

  height: 1px;
  width: 84px;
  background-color: rgba(255,255,255,0.2);
}

.copyryght-link-htmlacademy a:hover::after,
.copyryght-link-htmlacademy a:active::after {
  background-color: #ffbc9e;
}
